span.tag-component {
    color: var(--color-blue);
    background-color: var(--color-light-blue);

    font-size: .9em;
    font-weight: 500;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    &.colored {
        color: color-mix(in srgb, var(--tag-color), black 5%);
        background-color: color-mix(in srgb, var(--tag-color) 5%, white);
    }

    &.medium {
        padding: 12px;
    }

    &.center {
        justify-content: center;
    }

    svg {
        opacity: .8;
    }

    >span {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .title {
        font-size: 1.1em;
    }
}