span.tag-component {
    color: var(--color-light-black);
    background-color: var(--color-extra-light-grey);

    font-size: .9em;
    font-weight: 500;
    padding: 6px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px 32px;

    &.colored {
        color: color-mix(in srgb, var(--tag-color), black 5%);
        background-color: color-mix(in srgb, var(--tag-color) 10%, white);
    }

    &.medium {
        padding: 12px;
    }

    &.column {
        flex-direction: column;
    }

    svg {
        opacity: .8;
    }

    >span.group {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    p.center {
        text-align: center;
    }

    .title {
        font-size: 1.1em;
    }
}