#menu {
    display: flex;
    flex-direction: column;
    gap: 8px;

    >.title {
        font-size: .75em;
        font-weight: 600;
        color: var(--color-dark-grey);
    }

    >.menu-item {
        color: var(--color-light-black);
        padding: 12px;
        border: 1px solid transparent;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 8px;

        &:hover {
            color: var(--color-blue);
            border-color: var(--color-blue);
        }

        &.on {
            background-color: var(--color-light-blue);
            color: var(--color-blue);
        }
    }
}