.button-component {
    &.colored {
        color: color-mix(in srgb, var(--button-color) 5%, white);
        background-color: color-mix(in srgb, var(--button-color), black 0%);
        border-color: transparent;

        // &:hover {
        //     &:not(.opacity) {
        //         color: color-mix(in srgb, var(--button-color), black 0%);
        //         background-color: color-mix(in srgb, var(--button-color) 5%, white);
        //         border-color: color-mix(in srgb, var(--button-color) 30%, white);
        //     }

        //     &.opacity {
        //         opacity: .8;
        //     }
        // }
    }
}