.venda-card {
    position: relative;
    height: 160px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    .produto {
        margin: auto;
        font-size: 1.2em;
        font-weight: 600;
        text-align: center;
    }

    .produto-data {
        position: absolute;
        right: 8px;
        left: 8px;

        font-size: 1.2em;
        font-weight: 500;
        line-height: 1;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
}