.search-bar-component {
    flex: 1;
    position: relative;
    display: flex;

    >input {
        flex: 1;
        border-color: var(--color-grey);
    }
    
    >button {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 1em;
        padding: 1em;
        border-radius: 2px;
    }
}