li.produto-card {
    font-size: 1em;
    padding: 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 8px;

    >span {
        flex: 1;
        text-align: center;

        &.nome {
            flex: 3;
            font-size: 1.2em;
            font-weight: 500;
            text-align: left;
        }
    }
}