.home-card {
    color: var(--color-light-black);
    padding: 16px;
    display: flex;
    align-items: end;
    gap: 16px;
    
    p.title {
        flex: 1;
        font-size: 2em;
        font-weight: 500;
        line-height: 1;
        text-align: end;
    }
    
    svg {
        color: var(--color-dark-grey);
        font-size: 2.2em;
    }
}